<div class="not__found__page">
  <div class="header">
    <h1>404</h1>
    <h3>Page Not Found</h3>
  </div>

  <div class="ghost__wrapper">
    <div class="ghost__2">
      <div class="leg__one"></div>
      <div class="leg__two"></div>
      <div class="leg__three"></div>
      <div class="leg__four"></div>
    </div>
    <div class="ghost">
      <div class="face">
        <div class="eye-left"></div>
        <div class="eye-right"></div>
        <div class="mouth"></div>
      </div>
    </div>
    <div class="ghost__shadow"></div>
  </div>

  <div class="button__wrapper">
    <div class="button">
      <a href="javascript:history.back()">
        <span>Back</span>
      </a>
    </div>

    <div class="button">
      <a href="/static/artists">
        <span>Home</span>
      </a>
    </div>
  </div>
</div>