<section class="album__modal">
  <div class="album__modal__content">
    <div class="album__modal__content__area">

      <div class="album__info">
        <div class="album__info__img">
          <img src="" alt="" loading="lazy" />
        </div>

        <div class="album__info__data">
          <div class="album__info__data__wrapper">
            <div class="album__year"></div>
            <div class="album__name"></div>
            <div class="album__producers"></div>
            <div class="album__studio"></div>
          </div>

          <div class="album__duration">
            <span class="album__duration__number__tracks"></span>
            {{> icon-circle}}
            <span class="album__duration__time"></span>
          </div>
        </div>
      </div>

      <div class="album__tracks">
        <div class="album__tracks__header">
          <div class="tracks__header__number">#</div>
          <div class="tracks__header__title">Song</div>
          <div class="tracks__header__length">
            {{> icon-clock}}
          </div>
        </div>

        <div class="tracks"></div>
      </div>
    </div>
  </div>
</section>