<aside class="sidebar">
  <ul class="sidebar__main">
    <li>
      <a href="/static/artists">
        {{> icon-home}}
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        {{> icon-search}}
        <span>Search</span>
      </a>
    </li>
    <li>
      <a href="#">
        {{> icon-user}}
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="#">
        {{> icon-library}}
        <span>Library</span>
      </a>
    </li>
  </ul>
  <ul class="sidebar__music">
    <h2 class="sidebar__header">Your Music</h2>
    <li><a href="#">Songs</a></li>
    <li><a href="#">Albums</a></li>
    <li><a href="#">Artists</a></li>
  </ul>
  <ul class="sidebar__playlists">
    <h2 class="sidebar__header">Playlists</h2>
  </ul>
</aside>