<div class="wrapper">

  <!--- LEFT SIDEBAR --->
  <aside class="sidebar">
    <ul class="sidebar__main">
      <li>Browse</li>
      <li>Radio</li>
    </ul>
    <ul class="sidebar__music">
      <h2 class="sidebar__header">Your Music</h2>
      <li>Your Daily Mix</li>
      <li>Songs</li>
      <li>Albums</li>
      <li>Artists</li>
      <li>Stations</li>
      <li>Local Files</li>
    </ul>
    <ul class="sidebar__playlists">
      <h2 class="sidebar__header">Playlists</h2>
      <li>Liked from Radio</li>
      <li>Indie Pop</li>
      <li>Roadtrip</li>
      <li>Release Radar</li>
      <li>Focus</li>
      <li>Piano Mood</li>
      <li>Your Summer Rewind</li>
      <li>Inspire</li>
      <li>Alternative Faves</li>
    </ul>
  </aside>

  <main>
    <header class="main__header">
      <h1>Browse</h1>
    </header>

    <nav class="main__nav">
      <a class="link is-active" href="#">Overview</a>
      <a class="link" href="#">Charts</a>
      <a class="link" href="#">Genres and Moods</a>
      <a class="link" href="#">New Releases</a>
      <a class="link" href="#">Discover</a>
      <a class="link" href="#">More</a>
    </nav>

    <section class="main__content">

      <h2>Bands</h2>
      <!---->
      <ul class="band__list">
        {{#each artists}}
        <li class="band__list-item" id={{id}} onclick="onclickBand(this.id)">
          <span class="band__name">{{name}}</span>
          <span class="band__genre">{{genre}}</span>
        </li>
        {{/each}}
      </ul>
      <!--->

    </section>
  </main>

  <!-- SIDEBAR RIGHT -->
      <aside class="activity">
        <!--
    <audio autoplay id="audio-tag">
      <source src="audio/2">
    </audio>
    -->
        <div class="content">
          <div class="lyrics"></div>
        </div>
        <!--<h2>Friend Activity</h2>
    <button class="button">Find Friends</button>-->
      </aside>

</div>